@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Mr+Dafoe&display=swap');
* {
font-family: "Figtree", sans-serif;
}
body {
	background: #fff;
	color: #000;
    margin: 0;
}
::selection {
  background: #fff7b6 !important;
  color: #000 !important;
}
a {
	color: #000 !important;
	text-decoration: none;
}
#header-content {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    padding: 10px 0;
}
h1 {
  display: inline-block;
  padding: 0 9px 0 13px;
  font-size: 60px;
  font-family: "Mr Dafoe", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 70px;
  margin: 0;
}
h2 {
  font-size: 30px;
}
#logo {
    justify-content: left;
    padding: 0 0 0 70px;
}
#logo a {
  display: inline-block;
  width: auto;
  transition: all 0.3s ease;
}
#logo a:hover, .ico:hover {
    background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
}
#navigation {
    display: flex;
    font-size: 20px;
    margin: 0 20px 0 0;
    align-items: center;
    justify-content: right;
}
#navigation ul {
  display: flex;
  list-style: none; /* removes bullets */
  padding: 0;
  margin: 0;
}
#navigation ul li {
  margin: 0 10px;
}
.ico {
    font-size: 40px;
    margin-right: 20px;
    color: #000;
	transition: all 0.3s ease;
}
    @media (max-width: 910px) {
       #navigation {
        font-size: 17px
       }
       .ico {
        Font-size: 30px;
       }
       h1 {
        font-size: 50px;
       }
       #logo {
        padding: 0 0 0 40px;
       }
    }
        @media (max-width: 720px) {
	        #navigation ul {
	         flex-direction: column;
	         align-items: flex-end; 
	         padding: 0 10px 0 30px; 
	        }
	        #header {
	         grid-template-columns: 1fr 0.7fr;       
	        }
	        h1 {
	         font-size: 40px;
			 padding: 0 9px 0 0;
	       }
	       #logo {
	        padding: 0 0 0 25px;
	       }
		   #navigation ul li {
	  		margin: 0;
			}
			.ico {
				margin-right: 10px;
			}
        }
        @media (max-width: 500px) {
			#navigation ul {
	         padding: 0 10px 0 10px; 
	        }
			#navigation {
	         margin: 0 5px 0 10px; 
	        }
			h1 {
	        font-size: 33px;
	       }
			#header-content {
			grid-template-columns: 1fr 1.2fr;
			}
		}
#footer {
    text-align: center;
	padding: 50px 0;
	margin: 0;
}
.footerSocialLinks {
    color: #000 !important;
}
#homeGallery {
  column-count: 3;
  column-gap: 0;
  width: 100%;
  margin: 0;
    }
    @media (max-width: 600px) {
    	#homeGallery {
         column-count: 2;
    }
}
#homeGallery figure {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0;
  break-inside: avoid;
}
#homeGallery img {
  width: 100%;
  height: auto;
  display: block;
	margin: 0;
}
#cont {
	padding: 175px 20px;
	text-align: center;
}
#cont a {
	font-weight: bold;
}
#cont a,
#footer a,
#navigation ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

#cont a::after,
#footer a::after,
#navigation ul li a::after,{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s ease;
}

#cont a:hover::after,
#footer a:hover::after,
#navigation ul li a:hover::after{
  width: 100%;
}
